body {
    font-family: Arial, sans-serif;
    background-color: hsla(318, 66%, 72%, 0.674);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.todo-container {
    width: 300px;
    margin: 20px auto;
    background-color: rgba(222, 94, 192, 0.623);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(85, 58, 129, 0.1);
}

.todo-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
}

.todo-item label {
    font-size: 16px;
    color:rgb(0, 0, 0);
}

.todo-item input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: rgb(234, 234, 234);
}
